<section{{ attributes }} class="container">
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h2{{ title_attributes }}>全部回复</h2>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if comment_form %}
    {{ comment_form }}
  {% endif %}

</section>
