{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}

{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes }}>{{ label }}:
      {% for item in items %}
        <span class="badge badge-dark"{{ item.attributes }}>{{ item.content }}</span>
      {% endfor %}
    </div>
  </div>
{% endif %}
